each objBlock in blocks
  tr(id='b' + Number(objBlock.height))
    td(class='marker' data-id=objBlock.height)
      span(data-id=objBlock.height class='icon')
        i(class='icon-angle-right')
    td(class='block-height')
      a(data-id=objBlock.height)= Number(objBlock.height)
    td(class='block-transactions')= objBlock.lengthTx
  tr(id='bd' + Number(objBlock.height))
    td(data-id=objBlock.height class='block-data is-hidden' colspan='3')

